In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from selenium import webdriver
import seaborn as sns
from lxml import html
sns.set_style('darkgrid')
import math
%matplotlib inline
import matplotlib.pyplot as plt 

from pathlib import Path
from webdriver_manager.chrome import ChromeDriverManager
driver = webdriver.Chrome(ChromeDriverManager().install())


P_Name = []
P_Rating = []
P_Review = []
P_Original_price = []
P_Offer_price = []


for i in range(1,70):
    
    driver.get('https://www.amazon.in/s?k=laptop&page={}'.format(i))
    html=driver.page_source
    soup = BeautifulSoup(html,'html.parser')
    cards = soup.find_all('div', {"data-component-type":"s-search-result"})

    for card in cards:
        h2 = card.h2
        try:
            title = h2.text.strip()
        except:
            title = np.nan
        
        P_Name.append(title)


        try:
            price = card.find('span', class_='a-price-whole').text
        except:
            price = np.nan
        P_Offer_price.append(price)


        try:
            original_price = card.find('span', {'class': 'a-price a-text-price'}).find('span', {'class': 'a-offscreen'}).text.strip()
        except:
            original_price = np.nan
        
        P_Original_price.append(original_price)

        try:
            ratings = card.find('div', {'class':'a-row a-size-small'}).text
        except:
            ratings = np.nan
        P_Rating.append(ratings)

        try:
            no_of_reviews = card.find('a', {'class':'a-link-normal s-underline-text s-underline-link-text s-link-style'}).span.text
        except:
            no_of_reviews = np.nan
        P_Review.append(no_of_reviews)

        
        
        
        
df = pd.DataFrame({'Product' : P_Name, 'MRP': P_Original_price, 'Offer_Price' : P_Offer_price, 'Rating' : P_Rating, 'Reviews' : P_Review })        
            
driver.close()

C:\Users\yousu\AppData\Local\Temp\ipykernel_4600\3197047005.py:14: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [2]:
df

,Product,MRP,Offer_Price,Rating,Reviews
0,Samsung Galaxy Book2 (NP750) Intel 12th Gen co...,"₹83,990","64,490",4.14.1 out of 5 stars (90),Let us know
1,Fujitsu CH Intel Evo Core i5 11th Gen 13.3” FH...,"₹1,00,590","54,990",3.93.9 out of 5 stars (143),Let us know
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...","₹33,990","25,990",4.04.0 out of 5 stars (840),(840)
3,HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...,"₹38,574","25,999",4.04.0 out of 5 stars (3),(3)
4,Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...,"₹38,000","18,990",3.93.9 out of 5 stars (12),(12)
...,...,...,...,...,...
710,"Dell Vostro 3420 Laptop,12th Gen Intel Core i5...","₹83,127","56,990",4.74.7 out of 5 stars (4),Let us know
711,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,"₹47,999","37,000",4.14.1 out of 5 stars (472),Let us know
712,"ASUS Vivobook S15 OLED 2022, 15.6"" 39.62 cm FH...","₹89,990","74,490",4.04.0 out of 5 stars (17),Let us know
713,"ASUS Vivobook Pro 16, Intel Core i9 11th Gen, ...","₹1,22,990","89,990",3.53.5 out of 5 stars (13),Let us know
714,HP G8 Core Intel i3 11th Gen - (8 GB/512 GB SS...,"₹45,743","34,709",3.53.5 out of 5 stars (16),Let us know

In [3]:
df1 = df

In [4]:
df1

,Product,MRP,Offer_Price,Rating,Reviews
0,Samsung Galaxy Book2 (NP750) Intel 12th Gen co...,"₹83,990","64,490",4.14.1 out of 5 stars (90),Let us know
1,Fujitsu CH Intel Evo Core i5 11th Gen 13.3” FH...,"₹1,00,590","54,990",3.93.9 out of 5 stars (143),Let us know
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...","₹33,990","25,990",4.04.0 out of 5 stars (840),(840)
3,HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...,"₹38,574","25,999",4.04.0 out of 5 stars (3),(3)
4,Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...,"₹38,000","18,990",3.93.9 out of 5 stars (12),(12)
...,...,...,...,...,...
710,"Dell Vostro 3420 Laptop,12th Gen Intel Core i5...","₹83,127","56,990",4.74.7 out of 5 stars (4),Let us know
711,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,"₹47,999","37,000",4.14.1 out of 5 stars (472),Let us know
712,"ASUS Vivobook S15 OLED 2022, 15.6"" 39.62 cm FH...","₹89,990","74,490",4.04.0 out of 5 stars (17),Let us know
713,"ASUS Vivobook Pro 16, Intel Core i9 11th Gen, ...","₹1,22,990","89,990",3.53.5 out of 5 stars (13),Let us know
714,HP G8 Core Intel i3 11th Gen - (8 GB/512 GB SS...,"₹45,743","34,709",3.53.5 out of 5 stars (16),Let us know

In [5]:
#temp varialbe r for striping and extracting reviews no's 
r = df1['Rating'].astype(str)
pro_reviews = r.apply(lambda z:z.split('(')[1:2])
df1['Reviews'] = pro_reviews

In [6]:
df1

,Product,MRP,Offer_Price,Rating,Reviews
0,Samsung Galaxy Book2 (NP750) Intel 12th Gen co...,"₹83,990","64,490",4.14.1 out of 5 stars (90),[90) ]
1,Fujitsu CH Intel Evo Core i5 11th Gen 13.3” FH...,"₹1,00,590","54,990",3.93.9 out of 5 stars (143),[143) ]
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...","₹33,990","25,990",4.04.0 out of 5 stars (840),[840) ]
3,HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...,"₹38,574","25,999",4.04.0 out of 5 stars (3),[3) ]
4,Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...,"₹38,000","18,990",3.93.9 out of 5 stars (12),[12) ]
...,...,...,...,...,...
710,"Dell Vostro 3420 Laptop,12th Gen Intel Core i5...","₹83,127","56,990",4.74.7 out of 5 stars (4),[4) ]
711,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,"₹47,999","37,000",4.14.1 out of 5 stars (472),[472) ]
712,"ASUS Vivobook S15 OLED 2022, 15.6"" 39.62 cm FH...","₹89,990","74,490",4.04.0 out of 5 stars (17),[17) ]
713,"ASUS Vivobook Pro 16, Intel Core i9 11th Gen, ...","₹1,22,990","89,990",3.53.5 out of 5 stars (13),[13) ]
714,HP G8 Core Intel i3 11th Gen - (8 GB/512 GB SS...,"₹45,743","34,709",3.53.5 out of 5 stars (16),[16) ]

In [7]:
df1['Reviews'] = df1['Reviews'].astype(str).str.replace("[", '')
df1['Reviews'] = df1['Reviews'].astype(str).str.replace("]", '')
df1['Reviews'] = df1['Reviews'].astype(str).str.replace(")", '')
df1['Reviews'] = df1['Reviews'].astype(str).str.replace(",", '')
df1['Reviews'] = df1['Reviews'].astype(str).str.replace("'", '')

C:\Users\yousu\AppData\Local\Temp\ipykernel_4600\453967025.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1['Reviews'] = df1['Reviews'].astype(str).str.replace("[", '')
C:\Users\yousu\AppData\Local\Temp\ipykernel_4600\453967025.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1['Reviews'] = df1['Reviews'].astype(str).str.replace("]", '')
C:\Users\yousu\AppData\Local\Temp\ipykernel_4600\453967025.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1['Reviews'] = df1['Reviews'].astype(str).str.replace(")", '')

In [8]:
df1

,Product,MRP,Offer_Price,Rating,Reviews
0,Samsung Galaxy Book2 (NP750) Intel 12th Gen co...,"₹83,990","64,490",4.14.1 out of 5 stars (90),90
1,Fujitsu CH Intel Evo Core i5 11th Gen 13.3” FH...,"₹1,00,590","54,990",3.93.9 out of 5 stars (143),143
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...","₹33,990","25,990",4.04.0 out of 5 stars (840),840
3,HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...,"₹38,574","25,999",4.04.0 out of 5 stars (3),3
4,Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...,"₹38,000","18,990",3.93.9 out of 5 stars (12),12
...,...,...,...,...,...
710,"Dell Vostro 3420 Laptop,12th Gen Intel Core i5...","₹83,127","56,990",4.74.7 out of 5 stars (4),4
711,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,"₹47,999","37,000",4.14.1 out of 5 stars (472),472
712,"ASUS Vivobook S15 OLED 2022, 15.6"" 39.62 cm FH...","₹89,990","74,490",4.04.0 out of 5 stars (17),17
713,"ASUS Vivobook Pro 16, Intel Core i9 11th Gen, ...","₹1,22,990","89,990",3.53.5 out of 5 stars (13),13
714,HP G8 Core Intel i3 11th Gen - (8 GB/512 GB SS...,"₹45,743","34,709",3.53.5 out of 5 stars (16),16

In [10]:
# Temp variable ra for extractring ratings
ra = r.str.replace('[a-zA-z]+', '')
pro_rating = ra.apply(lambda z:z.split(' ')[0])
pro_rating = pro_rating.str.slice(stop=3)
df1['Rating'] = pro_rating

C:\Users\yousu\AppData\Local\Temp\ipykernel_4600\1115663299.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  ra = r.str.replace('[a-zA-z]+', '')

In [11]:
df1

,Product,MRP,Offer_Price,Rating,Reviews
0,Samsung Galaxy Book2 (NP750) Intel 12th Gen co...,"₹83,990","64,490",4.1,90
1,Fujitsu CH Intel Evo Core i5 11th Gen 13.3” FH...,"₹1,00,590","54,990",3.9,143
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...","₹33,990","25,990",4.0,840
3,HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...,"₹38,574","25,999",4.0,3
4,Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...,"₹38,000","18,990",3.9,12
...,...,...,...,...,...
710,"Dell Vostro 3420 Laptop,12th Gen Intel Core i5...","₹83,127","56,990",4.7,4
711,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,"₹47,999","37,000",4.1,472
712,"ASUS Vivobook S15 OLED 2022, 15.6"" 39.62 cm FH...","₹89,990","74,490",4.0,17
713,"ASUS Vivobook Pro 16, Intel Core i9 11th Gen, ...","₹1,22,990","89,990",3.5,13
714,HP G8 Core Intel i3 11th Gen - (8 GB/512 GB SS...,"₹45,743","34,709",3.5,16

In [12]:
brand = df1['Product'].apply(lambda z:z.split()[0])

In [13]:
#inserting brands at position 2 in dataframe
df1.insert(loc = 1,
          column = 'Brands',
          value = brand)
# show the dataframe
df1

,Product,Brands,MRP,Offer_Price,Rating,Reviews
0,Samsung Galaxy Book2 (NP750) Intel 12th Gen co...,Samsung,"₹83,990","64,490",4.1,90
1,Fujitsu CH Intel Evo Core i5 11th Gen 13.3” FH...,Fujitsu,"₹1,00,590","54,990",3.9,143
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...",ASUS,"₹33,990","25,990",4.0,840
3,HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...,HP,"₹38,574","25,999",4.0,3
4,Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...,Lenovo,"₹38,000","18,990",3.9,12
...,...,...,...,...,...,...
710,"Dell Vostro 3420 Laptop,12th Gen Intel Core i5...",Dell,"₹83,127","56,990",4.7,4
711,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,Lenovo,"₹47,999","37,000",4.1,472
712,"ASUS Vivobook S15 OLED 2022, 15.6"" 39.62 cm FH...",ASUS,"₹89,990","74,490",4.0,17
713,"ASUS Vivobook Pro 16, Intel Core i9 11th Gen, ...",ASUS,"₹1,22,990","89,990",3.5,13
714,HP G8 Core Intel i3 11th Gen - (8 GB/512 GB SS...,HP,"₹45,743","34,709",3.5,16

In [14]:
cols = ['MRP']
for col in cols:
    df1[col] = df1[col].map(lambda x: str(x).strip('₹')).astype(str)
    
df1['MRP'] = df1['MRP'].astype(str).str.replace(',', '')
df1['Offer_Price'] = df1['Offer_Price'].astype(str).str.replace(',', '')
df1 = df1.astype({'MRP':'float'})
df1 = df1.astype({'Offer_Price':'float'})

In [15]:
pro_discount_value = df1['MRP'] - df1['Offer_Price']
pro_dic_percentage = (((df1['MRP'] - df1['Offer_Price'])/df1['MRP']) * 100)
pro_dic_percentage = round(pro_dic_percentage)

In [16]:
df1["Discount Price"] = pro_discount_value
df1["Discount"] = pro_dic_percentage

In [17]:
df1 = df1.iloc[:,[0,1,2,3,6,7,4,5]]

In [18]:
df1

,Product,Brands,MRP,Offer_Price,Discount Price,Discount,Rating,Reviews
0,Samsung Galaxy Book2 (NP750) Intel 12th Gen co...,Samsung,83990.0,64490.0,19500.0,23.0,4.1,90
1,Fujitsu CH Intel Evo Core i5 11th Gen 13.3” FH...,Fujitsu,100590.0,54990.0,45600.0,45.0,3.9,143
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...",ASUS,33990.0,25990.0,8000.0,24.0,4.0,840
3,HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...,HP,38574.0,25999.0,12575.0,33.0,4.0,3
4,Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...,Lenovo,38000.0,18990.0,19010.0,50.0,3.9,12
...,...,...,...,...,...,...,...,...
710,"Dell Vostro 3420 Laptop,12th Gen Intel Core i5...",Dell,83127.0,56990.0,26137.0,31.0,4.7,4
711,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,Lenovo,47999.0,37000.0,10999.0,23.0,4.1,472
712,"ASUS Vivobook S15 OLED 2022, 15.6"" 39.62 cm FH...",ASUS,89990.0,74490.0,15500.0,17.0,4.0,17
713,"ASUS Vivobook Pro 16, Intel Core i9 11th Gen, ...",ASUS,122990.0,89990.0,33000.0,27.0,3.5,13
714,HP G8 Core Intel i3 11th Gen - (8 GB/512 GB SS...,HP,45743.0,34709.0,11034.0,24.0,3.5,16

In [19]:
df1.describe()

                 MRP    Offer_Price  Discount Price    Discount
count     679.000000     712.000000      679.000000  679.000000
mean   106402.314698   79185.359551    34462.423682   34.268041
std     75117.217222   71407.278517    29338.198914   18.506844
min     19000.000000   10999.000000     1156.000000    1.000000
25%     56152.500000   33628.000000    15000.000000   22.000000
50%     89902.000000   51490.000000    25010.000000   30.000000
75%    128995.000000   95000.000000    45000.000000   39.000000
max    492990.000000  444990.000000   383511.000000   96.000000

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product         715 non-null    object
 1   Brands          715 non-null    object
 2   MRP             679 non-null    float64
 3   Offer_Price     712 non-null    float64
 4   Discount Price  679 non-null    float64
 5   Discount        679 non-null    float64
 6   Rating          715 non-null    object
 7   Reviews         715 non-null    object
dtypes: float64(4), object(4)
memory usage: 44.8+ KB

In [21]:
df1.isna().sum()

Product            0
Brands             0
MRP               36
Offer_Price        3
Discount Price    36
Discount          36
Rating             0
Reviews            0
dtype: int64

In [22]:
df1['Rating'] = pd.to_numeric(df1['Rating'], errors = 'coerce').replace(np.nan,0)
df1['Reviews'] = pd.to_numeric(df1['Reviews'], errors = 'coerce').replace(np.nan,0)
df1['MRP'] = pd.to_numeric(df1['MRP'], errors = 'coerce').replace(np.nan,0)
df1['Offer_Price'] = pd.to_numeric(df1['Offer_Price'], errors = 'coerce').replace(np.nan,0)
df1['Discount'] = pd.to_numeric(df1['Discount'], errors = 'coerce').replace(np.nan,0)
df1['Discount Price'] = pd.to_numeric(df1['Discount Price'], errors = 'coerce').replace(np.nan,0)

In [23]:
df1.isna().sum()

Product           0
Brands            0
MRP               0
Offer_Price       0
Discount Price    0
Discount          0
Rating            0
Reviews           0
dtype: int64

In [24]:
# Removing products which has both mrp and discount 0
df1 = df1[(df1['MRP'] != 0.0) | (df1['Offer_Price'] != 0.0)]

In [25]:
df1

,Product,Brands,MRP,Offer_Price,Discount Price,Discount,Rating,Reviews
0,Samsung Galaxy Book2 (NP750) Intel 12th Gen co...,Samsung,83990.0,64490.0,19500.0,23.0,4.1,90.0
1,Fujitsu CH Intel Evo Core i5 11th Gen 13.3” FH...,Fujitsu,100590.0,54990.0,45600.0,45.0,3.9,143.0
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...",ASUS,33990.0,25990.0,8000.0,24.0,4.0,840.0
3,HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...,HP,38574.0,25999.0,12575.0,33.0,4.0,3.0
4,Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...,Lenovo,38000.0,18990.0,19010.0,50.0,3.9,12.0
...,...,...,...,...,...,...,...,...
710,"Dell Vostro 3420 Laptop,12th Gen Intel Core i5...",Dell,83127.0,56990.0,26137.0,31.0,4.7,4.0
711,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,Lenovo,47999.0,37000.0,10999.0,23.0,4.1,472.0
712,"ASUS Vivobook S15 OLED 2022, 15.6"" 39.62 cm FH...",ASUS,89990.0,74490.0,15500.0,17.0,4.0,17.0
713,"ASUS Vivobook Pro 16, Intel Core i9 11th Gen, ...",ASUS,122990.0,89990.0,33000.0,27.0,3.5,13.0
714,HP G8 Core Intel i3 11th Gen - (8 GB/512 GB SS...,HP,45743.0,34709.0,11034.0,24.0,3.5,16.0

In [27]:
df3 = df1.drop_duplicates()

In [28]:
df3

,Product,Brands,MRP,Offer_Price,Discount Price,Discount,Rating,Reviews
0,Samsung Galaxy Book2 (NP750) Intel 12th Gen co...,Samsung,83990.0,64490.0,19500.0,23.0,4.1,90.0
1,Fujitsu CH Intel Evo Core i5 11th Gen 13.3” FH...,Fujitsu,100590.0,54990.0,45600.0,45.0,3.9,143.0
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...",ASUS,33990.0,25990.0,8000.0,24.0,4.0,840.0
3,HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...,HP,38574.0,25999.0,12575.0,33.0,4.0,3.0
4,Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...,Lenovo,38000.0,18990.0,19010.0,50.0,3.9,12.0
...,...,...,...,...,...,...,...,...
655,(Renewed) HP Zbook Mini Server Laptop Intel E3...,(Renewed),195000.0,52490.0,142510.0,73.0,0.0,0.0
656,(Renewed) Dell Latitude Laptop 7390 Intel Core...,(Renewed),129000.0,36990.0,92010.0,71.0,0.0,0.0
657,(Renewed) HP Ultra Beautiful Laptop 348G4 Inte...,(Renewed),89990.0,20990.0,69000.0,77.0,0.0,0.0
659,(Renewed) Lenovo Thinkpad Laptop x270 Intel Co...,(Renewed),129000.0,28990.0,100010.0,78.0,0.0,0.0
660,(Renewed) HP Zbook Mini Server Laptop Intel E3...,(Renewed),195000.0,51990.0,143010.0,73.0,0.0,0.0

In [29]:
df3.to_csv('amazon5.csv', index=False)

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from selenium import webdriver
import seaborn as sns
from lxml import html
sns.set_style('darkgrid')
import math
%matplotlib inline
import re
import matplotlib.pyplot as plt

In [11]:
df2 = pd.read_csv("amazon5.csv")

In [12]:
df2['Brands'] = df2['Brands'].astype(str).str.replace('(', '')
brand1 = df2['Brands'].apply(lambda z:z.split(')')[0])
df2['Brands'] = brand1

C:\Users\yousu\AppData\Local\Temp\ipykernel_11236\2374246921.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2['Brands'] = df2['Brands'].astype(str).str.replace('(', '')

In [13]:
df2

,Product,Brands,MRP,Offer_Price,Discount Price,Discount,Rating,Reviews
0,Samsung Galaxy Book2 (NP750) Intel 12th Gen co...,Samsung,83990,64490,19500,23,4.1,90
1,Fujitsu CH Intel Evo Core i5 11th Gen 13.3” FH...,Fujitsu,100590,54990,45600,45,3.9,143
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...",Asus,33990,25990,8000,24,4.0,840
3,HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...,HP,38574,25999,12575,33,4.0,3
4,Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...,Lenovo,38000,18990,19010,50,3.9,12
...,...,...,...,...,...,...,...,...
403,(Renewed) HP Zbook Mini Server Laptop Intel E3...,Renewed,195000,52490,142510,73,0.0,0
404,(Renewed) Dell Latitude Laptop 7390 Intel Core...,Renewed,129000,36990,92010,71,0.0,0
405,(Renewed) HP Ultra Beautiful Laptop 348G4 Inte...,Renewed,89990,20990,69000,77,0.0,0
406,(Renewed) Lenovo Thinkpad Laptop x270 Intel Co...,Renewed,129000,28990,100010,78,0.0,0
407,(Renewed) HP Zbook Mini Server Laptop Intel E3...,Renewed,195000,51990,143010,73,0.0,0

In [14]:
df2

,Product,Brands,MRP,Offer_Price,Discount Price,Discount,Rating,Reviews
0,Samsung Galaxy Book2 (NP750) Intel 12th Gen co...,Samsung,83990,64490,19500,23,4.1,90
1,Fujitsu CH Intel Evo Core i5 11th Gen 13.3” FH...,Fujitsu,100590,54990,45600,45,3.9,143
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...",Asus,33990,25990,8000,24,4.0,840
3,HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...,HP,38574,25999,12575,33,4.0,3
4,Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...,Lenovo,38000,18990,19010,50,3.9,12
...,...,...,...,...,...,...,...,...
403,(Renewed) HP Zbook Mini Server Laptop Intel E3...,Renewed,195000,52490,142510,73,0.0,0
404,(Renewed) Dell Latitude Laptop 7390 Intel Core...,Renewed,129000,36990,92010,71,0.0,0
405,(Renewed) HP Ultra Beautiful Laptop 348G4 Inte...,Renewed,89990,20990,69000,77,0.0,0
406,(Renewed) Lenovo Thinkpad Laptop x270 Intel Co...,Renewed,129000,28990,100010,78,0.0,0
407,(Renewed) HP Zbook Mini Server Laptop Intel E3...,Renewed,195000,51990,143010,73,0.0,0

In [5]:
df2.isna().sum()

Product           0
Brands            0
MRP               0
Offer_Price       0
Discount Price    0
Discount          0
Rating            0
Reviews           0
dtype: int64

In [5]:
df2 = df2.astype({'Reviews':'int64'})
df2 = df2.astype({'Discount':'int64'})
df2 = df2.astype({'Discount Price':'int64'})
df2 = df2.astype({'MRP':'int64'})
df2 = df2.astype({'Offer_Price':'int64'})

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product         408 non-null    object
 1   Brands          408 non-null    object
 2   MRP             408 non-null    int64
 3   Offer_Price     408 non-null    int64
 4   Discount Price  408 non-null    int64
 5   Discount        408 non-null    int64
 6   Rating          408 non-null    float64
 7   Reviews         408 non-null    int64
dtypes: float64(1), int64(5), object(2)
memory usage: 25.6+ KB

In [64]:
df2

,Product,Brands,MRP,Offer_Price,Discount Price,Discount,Rating,Reviews
0,Samsung Galaxy Book2 (NP750) Intel 12th Gen co...,Samsung,83990,64490,19500,23,4.1,90
1,Fujitsu CH Intel Evo Core i5 11th Gen 13.3” FH...,Fujitsu,100590,54990,45600,45,3.9,143
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...",Asus,33990,25990,8000,24,4.0,840
3,HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...,HP,38574,25999,12575,33,4.0,3
4,Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...,Lenovo,38000,18990,19010,50,3.9,12
...,...,...,...,...,...,...,...,...
403,(Renewed) HP Zbook Mini Server Laptop Intel E3...,Renewed,195000,52490,142510,73,0.0,0
404,(Renewed) Dell Latitude Laptop 7390 Intel Core...,Renewed,129000,36990,92010,71,0.0,0
405,(Renewed) HP Ultra Beautiful Laptop 348G4 Inte...,Renewed,89990,20990,69000,77,0.0,0
406,(Renewed) Lenovo Thinkpad Laptop x270 Intel Co...,Renewed,129000,28990,100010,78,0.0,0
407,(Renewed) HP Zbook Mini Server Laptop Intel E3...,Renewed,195000,51990,143010,73,0.0,0

In [7]:
df2['Brands'] = df2['Brands'].replace(['ASUS', 'Asus'], 'Asus')

In [8]:
df2['Brands'] = df2['Brands'].replace(['HP', 'Hp'], 'HP')

In [15]:
df2.to_csv('amazon1.csv', index=False)